<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.halin.testapp">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".main.AppApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--AppIndexing相关Filter,拦截所有Halin://的请求-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 拦截所有以 "Halin://"开头的URL -->
                <data android:scheme="Halin" />
                <data android:host="Test" />
            </intent-filter>
        </activity>


        <activity
            android:name="me.halin.testapp.main.MainActivity"
            android:label="@string/app_name">

        </activity>


        <!-- dataBinding测试Activity-->
        <activity
            android:name=".databinding.Base.DataBindingBaseActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".databinding.List.DataBindingListActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".databinding.Event.DataBindingEventActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".databinding.Import.DataBindingImportActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".databinding.Custom.DataBindingCustomActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".databinding.Include.DataBindingIncludeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".databinding.Expression.DataBindingExpressionActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".databinding.DataObjects.DataBindingObservableObjectActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".databinding.DataObjects.DataBindingObservableFieldActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".databinding.DataObjects.DataBindingObservableCollectionActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".databinding.GeneratedBinding.DataBindingGeneratedBindingActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".databinding.AdvancedBinding.DataBindingAdvancedBindingActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".databinding.DemoList.DataBindingDemoListActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".databinding.Observable.DataBindingObservableActivity" />

        <activity android:name=".databinding.AttributeSetter.DataBindingAttributeSetterActivity" />


        <!-- recycleView测试Activity-->
        <activity
            android:name=".RecycleView.Base.RecycleViewBaseActivity"
            android:theme="@style/AppTheme" />


        <!-- 测试Activity-->
        <activity
            android:name=".EspressonTestDemo.espresso.example.EspressoTestActivity"
            android:theme="@style/AppTheme" />

        <!-- 自动化埋点-->
        <activity
            android:name=".AutoEventTracking.Demo.AutoEventTrackingDemoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AutoEventTracking.Demo.AutoEventTrackingFragmentDemoActivity"
            android:theme="@style/AppTheme" />

        <!-- 原生第三方登录授权-->
        <activity
            android:name=".Account.AccountDemoActivity"
            android:theme="@style/AppTheme" />

        <!--Dagger2测试-->
        <activity
            android:name=".Dagger2.Base.DaggerBaseActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Dagger2.InjectMethod.DaggerMethodInjectActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Dagger2.Dependencies.DaggerDependenciesActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Dagger2.AutoGenerate.DaggerAutoGenerateActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Dagger2.Named.DaggerNamedActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Dagger2.Singleton.DaggerSingletonActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Dagger2.StaticInject.DaggerStaticInjectActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Dagger2.InnerClass.DaggerInnerClassActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".FragmentDemo.FragmentTestActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RequestSimulator.RequestSimulatorActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MonkeyRunner.MonkeyRunnerDemoActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".WebSocket.WebSocketDemoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ModelExtensionDemo.ModelExtensionDemoActivity"
            android:theme="@style/AppTheme" />

        <!-- 可搜索内容-->
        <!--<provider-->
        <!--android:name="me.halin.testapp.SearchableActivity.SearchableProvider"-->
        <!--android:authorities="de.openminds.SampleRecentSuggestionsProvider"></provider>-->
    </application>

</manifest>
