<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="halin.me.testapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DataBinding.Base.DataBindingBaseActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DataBinding.List.DataBindingListActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DataBinding.Event.DataBindingEventActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DataBinding.Import.DataBindingImportActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DataBinding.Custom.DataBindingCustomActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DataBinding.Include.DataBindingIncludeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DataBinding.Expression.DataBindingExpressionActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DataBinding.DataObjects.DataBindingObservableObjectActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DataBinding.DataObjects.DataBindingObservableFieldActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DataBinding.DataObjects.DataBindingObservableCollectionActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DataBinding.GeneratedBinding.DataBindingGeneratedBindingActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DataBinding.AdvancedBinding.DataBindingAdvancedBindingActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".RecycleView.Base.RecycleViewBaseActivity"
            android:theme="@style/AppTheme" />


    </application>

</manifest>
