<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.halin.android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.drawerlayout.DrawerLayoutActivity" />
        <activity android:name=".ui.toolbar.ToolbarActivity" />
        <activity android:name=".ui.navigationview.NavigationViewActivity" />
        <activity android:name=".ui.coordinatorlayout.CoordinatorLayoutSnackbarActivity" />
        <activity android:name=".ui.coordinatorlayout.CoordinatorLayoutAppBarLayoutActivity" />
        <activity android:name=".ui.coordinatorlayout.CoordinatorLayoutCollapsingToolbarLayoutActivity" />
        <activity android:name=".ui.inputtextlayout.TextInputLayoutActivity" />
        <activity android:name=".ui.cardview.CardViewActivity" />
        <activity
            android:name=".parentactivity.ParentActivity"
            android:icon="@mipmap/ic_launcher_round"
            android:label="Parent Activity"
            android:parentActivityName=".main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".parentactivity.ParentDiffAffinityActivity"
            android:label="Parent Affinity Activity"
            android:taskAffinity="me.halin.android.parent.other">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>
    </application>

</manifest>